<div class="jumbotron text-center">
  <h3>{{locationToDisplay.location}}</h3>
  <h4>{{locationToDisplay.address}}</h4>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <p>Date: {{locationToDisplay.date}}</p>
    <p>About: {{locationToDisplay.description}}</p>
  </div>
</div>

<div class="row panel panel-info">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="panel-body">
      Tickets: $80 <br>
      <ul>
        <li>Entrance to some of the best food around</li>
        <li>10 tokens for food and drink</li>
        <li>Limited edition lanyard</li>
        <li>Great times</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <div class="panel-body">
      Vip Tickets: $125 <br>
      <ul>
        <li>Early Entrance</li>
        <li>VIP line access</li>
        <li>Entrance to some of the best food around</li>
        <li>10 tokens for food and drink</li>
        <li>5 additional tokens</li>
        <li>Limited edition lanyard</li>
        <li>Great times</li>
      </ul>
    </div>
  </div>
</div>
