<div class="row">
  <div class="col-sm-12 panel panel-primary">
    <h3>This is where you buy tickets, pick a location below or let us know where you are located so we can have a location near you!</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 panel panel-primary">
    Tickets cost: 1 billion dollars
  </div>
  <div class="col-sm-4 panel panel-primary">
    Special Discount: 2 billion dollars
  </div>
  <div class="col-sm-4 panel panel-primary">
    Bring your food truck!
  </div>
</div>
<div class="row">
  <div class="col-sm-8 panel panel-primary">
    <p>What is included in the price, great food, cool people, great experience</p>
  </div>
  <div class="col-sm-4 panel panel-primary">
    <p>Tell your friends about this really cool event you are going to</p>
  </div>
</div>
