<div class="row">
  <div class="col-sm-3 line-padding">
    <hr class="decorative-line">
  </div>
    <div class="col-sm-6">
      <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="text-center">Food Trucks</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-3 line-padding">
    <hr class="decorative-line">
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h3>
      Food Trucks are the main part of the event! We want only the best trucks that have the best food. Do you have something to prove or do you know the best food truck around? <br>
      Let the people decided who has the tastiest food around!
    </h3>
  </div>
</div>

<!-- <div *ngFor="let truck of trucks" (click)="goToDetailPage(truck)" class="panel panel-default">
  <div class="panel-body">
    <h3><em>{{truck.name}}</em> by {{truck.owner}}</h3>
  </div>
</div> -->
